<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="chukwnnonso Kuzue"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30">
    <meta http-equiv="x-uA-compatible" content="IE-edge">
    <title>{% block maternity %} {% endblock maternity %}</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header class="container">
        <h1 class="welcome">{% block h1 %} {% endblock h1 %}</h1>
        <nav>
            <a href="login.html">Login Page</a>
            <a href="UserRegistration.html">Sign Up</a>
            <a href="dashboard.html">Dashboard</a>
            <a href="Symptoms.html">Symptoms</a>
            <a href="Analysis.html">Analysis</a>
            <a href="CheckUp.html">CheckUp</a>
            <a href="about_us.html">My Team</a>
            
        </nav>
    </header>
    {% block main%}

    {% endblock main%}

    <footer><p class="fff">&copy; copyright 2024 | Marternity Health App | powered by 3MTT| <a href="#">support</a>|<a href="#">Terms of Services</a></p>
    <div><a href="#">BACK TO TOP</a><a href="{% url 'logout' %}">Sign out</a></div>   
    </footer>
</body>
</html>