<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="chukwnnonso Kuzue"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30">
    <meta http-equiv="x-uA-compatible" content="IE-edge">
    <title>Login</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header class="container">
        <h1 class="welcome">{% block h1 %} {% endblock h1 %}</h1>
        <nav>
            <a href="Analysis.html">Analysis</a>
            <a href="CheckUp.html">CheckUp</a>
            <a href="login.html">Login Page</a>
            <a href="Symptoms.html">Symptoms</a>
            <a href="index.html">Dashboard</a>
            <a href="about_us.html">My Team></a>
            <a href="UserRegistration.html">Registration page></a>
        </nav>
    </header>
<main>
<h2>Login</h2>
<form class="forms" action="login" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" autocomplete="on" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" autocomplete="on" required>
    <br>
    <button type="submit">Login</button>
</form>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
{% endif %}
<footer><p class="fff">&copy; copyright 2024 | Marternity Health App | powered by 3MTT| <a href="#">support</a>|<a href="#">Terms of Services</a></p>
    <div><a href="#">BACK TO TOP</a><a href="#logout">Sign out</a></div>   
    </footer>
</body>
</html>